%a{:name => "details"}
%h2.contentheading P&aacute;gina de bienvenida
%br/
.span12
	<p>
	Al sistema de administración de cámaras de la Escuela de Computación de la UCV
	</p>
	<p>
	Este sistema fue creado para facilitar el manejo del middleware
	</p>
