%a{:name => "details"}
%h2.contentheading Editar un fabricante
%br/
= form_tag :action => "editar_marca_def",controller: "marcas",:method => "post",:class => "form-marcaModelo", :id=>"marcaModelo-form" do
  %input{:name => "valor", :size => "20", :required=>"", :type => "hidden", :value => "#{@marca.id}"}/
  .span2
    .control-group
      .controls
        %label{:for => "to", :style => "margin-left: 0px"} Fabricante:
  .span2
    .control-group
      .controls
        %input#nombre.inputbox{:name => "nombre", :size => "20", :required=>"", :type => "text", :value => "#{@marca.nombre}"}/
  .span12
    %button.btn.btn-success{:type => "submit"} Editar
    .btn-group
      = link_to "Volver", {:action=>"index"},:class =>"btn"
    
:javascript
  $(document).ready(function() {
    $("#menu_marcas").addClass("activo");
  });                
                      
                  